/// colors
$c-purple: #553274;
$c-purple-faded: lighten(#553274, 60%);
$c-green: #6ea31d;
$c-green-faded: lighten(#6ea31d, 60%);
$c-turquoise: #067674;
$c-turquoise-faded: lighten(#067674, 60%);
$c-yellow: #ebb344;
$c-yellow-faded: lighten(#ebb344, 60%);
$c-cyan: #039bf0;
$c-cyan-faded: lighten(#039bf0, 60%);
$c-navy: #181c75;
$c-navy-faded: lighten(#181c75, 60%);
$c-pink: #c0459f;
$c-pink-faded: lighten(#c0459f, 60%);
$c-red: #c12936;
$c-red-faded: lighten(#c12936, 60%);
$c-tempura: #A081C4;
$c-miso-soup: #075755;
$c-tea: #71141B;
$c-ice-cream: #2D8CA8;
$c-grey: #aaa;
$c-grey-light: #ddd;
$c-grey-lightest: #f2f2f2;
$c-grey-dark: #222;
$c-grey-cards: #777;

// Shadows
$s-purple: 1px 1px 0 $c-purple;
$s-purple-2: 2px 2px 0 $c-purple;
$s-purple-4: 4px 4px 0 $c-purple;
$s-pink: 1px 1px 0 $c-pink;
$s-pink-2: 2px 2px 0 $c-pink;
$s-pink-2: 2px 2px 0 $c-pink;
$s-pink-4: 4px 4px 0 $c-pink;
$s-pink-4: 4px 4px 0 $c-pink;
$s-grey: 1px 1px 0 rgba(0, 0, 0, .16);
$s-grey-2: 2px 2px 0 rgba(0, 0, 0, .16);
$s-grey-4: 4px 4px 0 rgba(0, 0, 0, .16);