/// colors
$c-purple: #553274;
$c-green: #6ea31d;
$c-turquoise: #067674;
$c-yellow: #ebb344;
$c-cyan: #039bf0;
$c-navy: #181c75;
$c-pink: #c0459f;
$c-red: #c12936;
$c-grey: #aaa;
$c-grey-light: #ddd;
$c-grey-lightest: #f2f2f2;
$c-grey-dark: #222;

// Shadows
$s-purple: 1px 1px 0 $c-purple;
$s-purple-2: 2px 2px 0 $c-purple;
$s-purple-4: 4px 4px 0 $c-purple;
$s-pink: 1px 1px 0 $c-pink;
$s-pink-2: 2px 2px 0 $c-pink;
$s-pink-2: 2px 2px 0 $c-pink;
$s-pink-4: 4px 4px 0 $c-pink;
$s-pink-4: 4px 4px 0 $c-pink;
$s-grey: 1px 1px 0 rgba(0, 0, 0, .16);
$s-grey-2: 2px 2px 0 rgba(0, 0, 0, .16);
$s-grey-4: 4px 4px 0 rgba(0, 0, 0, .16);