<div className="sushi-family nigiri">
  <div className="card-sushi wasabi-applied">
    <div className="card-image">
      <img src="https://placehold.it/50x50" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Squid</h3>
      <h4 className="card-score-desc">Nigiri 3</h4>
    </div>
  </div>
  <div className="card-sushi">
    <div className="card-sushi">
      <div className="card-image">
        <img src="https://placehold.it/50x50" />
      </div>
      <div className="card-info">
        <h3 className="card-title">Salmon</h3>
        <h4 className="card-score-desc">Nigiri 2</h4>
      </div>
    </div>
  </div>
  <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Egg</h3>
      <h4 className="card-score-desc">Nigiri 1</h4>
    </div>
  </div>
  <div className="card-sushi wasabi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Wasabi</h3>
      <h4 className="card-score-desc">Next Nigiri x3</h4>
    </div>
  </div>
</div>
<div className="sushi-family maki">
  <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Squid</h3>
      <h4 className="card-score-desc">Nigiri 3</h4>
    </div>
  </div>
</div>
<div className="sushi-family tempura">
  <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Tempura</h3>
      <h4 className="card-score-desc">x2 = 5</h4>
    </div>
  </div>
  <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Tempura</h3>
      <h4 className="card-score-desc">x2 = 5</h4>
    </div>
  </div>
</div>
<div className="sushi-family sashimi">
  <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Sashimi</h3>
      <h4 className="card-score-desc">x3 = 10</h4>
    </div>
  </div>
  {/* <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Sashimi</h3>
      <h4 className="card-score-desc">x3 = 10</h4>
    </div>
  </div> */}
</div>
<div className="sushi-family miso-soup">
  <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Sashimi</h3>
      <h4 className="card-score-desc">x3 = 10</h4>
    </div>
  </div>
  {/* <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Sashimi</h3>
      <h4 className="card-score-desc">x3 = 10</h4>
    </div>
  </div> */}
</div>
<div className="sushi-family tea">
  <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Sashimi</h3>
      <h4 className="card-score-desc">x3 = 10</h4>
    </div>
  </div>
  {/* <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Sashimi</h3>
      <h4 className="card-score-desc">x3 = 10</h4>
    </div>
  </div> */}
</div>
<!-- Dessert -->
<div className="sushi-family ice-cream">
  <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" alt="" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Ice Cream</h3>
      <h4 className="card-score-desc">x4 = 12</h4>
    </div>
  </div>
  <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" alt="" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Ice Cream</h3>
      <h4 className="card-score-desc">x4 = 12</h4>
    </div>
  </div>
  <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" alt="" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Ice Cream</h3>
      <h4 className="card-score-desc">x4 = 12</h4>
    </div>
  </div>
  <div className="card-sushi">
    <div className="card-image">
      <img src="https://placehold.it/50x50" alt="" />
    </div>
    <div className="card-info">
      <h3 className="card-title">Ice Cream</h3>
      <h4 className="card-score-desc">x4 = 12</h4>
    </div>
  </div>
</div>
<!-- users -->
<div className="sushi-family nigiri push-1-2">
  <div className="card-sushi wasabi-applied">
    <span className="card-points">3</span>
  </div>
  <div className="card-sushi">
    <span className="card-points">2</span>
  </div>
  <div className="card-sushi">
    <span className="card-points">1</span>
  </div>
  <div className="card-sushi wasabi">
  </div>
</div>
<div className="sushi-family maki push-1-2">
  <div className="card-sushi">
    <span className="card-points">3</span>
  </div>
  <div className="card-sushi">
    <span className="card-points">2</span>
  </div>
  <div className="card-sushi">
    <span className="card-points">2</span>
  </div>
  <div className="card-sushi">
    <span className="card-points">2</span>
  </div>
  <strong className="maki-score push-l">9</strong>
</div>
<div className="sushi-family tempura push-1-2">
  <div className="card-sushi">
  </div>
  <div className="card-sushi">
  </div>
</div>
<div className="sushi-family sashimi push-1-2">
  <div className="card-sushi">
  </div>
  <div className="card-sushi">
  </div>
  <div className="card-sushi">
  </div>
  <div className="card-sushi tea">
    <span className="card-points">3</span>
  </div>
</div>
<div className="sushi-family miso-soup">
  <div className="card-sushi">
  </div>
  <div className="card-sushi miso-cancelled">
  </div>
</div>

// users Dessert
<div className="sushi-family ice-cream">
  <div className="card-sushi">
  </div>
  <div className="card-sushi">
  </div>
  <div className="card-sushi">
  </div>
  <div className="card-sushi">
  </div>
</div>