.sushi-family {
  position: relative;
}
.card-sushi {
  position: relative;
  overflow: hidden;
  box-shadow: $s-grey-2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  flex-shrink: 0;
  z-index: 10;
  border-radius: 10px;
  flex-direction: column;
  transition:
    opacity .5s,
    transform .5s;
  &.not-revealed {
    display: none;
  }
  .card-image {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }
  .card-info {
    background-color: $c-grey-cards;
    width: 100%;
    padding: .5rem .125rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem .125rem 0;
    height: 5rem;
    .card-title {
      font-size: 1rem;
      margin-bottom: -.125rem;
      text-shadow: $s-grey-2;
    }
    .card-score-desc {
      font-size: .75rem;
    }
  }
  &.nigiri, &.wasabi {
    background-color: $c-yellow;
    &.wasabi-applied::before,
    &.wasabi-applied:not(.not-revealed) ~ .wasabi::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      z-index: 1;
      border: 3px solid $c-green;
    }
    .card-title {
      color: $c-yellow;
    }
  }
  &.maki {
    background-color: $c-red;
    .card-image img {
      transform: translateY(1.125rem)
    }
    .card-maki-icons {
      position: absolute;
      top: 0;
      left: .25rem;
      .maki-icon {
        width: 3rem;
      }
    }
    .card-title {
      color: $c-red;
    }
  }
  &.tempura {
    background-color: $c-tempura;
    .card-title {
      color: $c-tempura;
    }
  }
  &.miso-soup {
    background-color: $c-miso-soup;
    &.miso-cancelled:not(.not-revealed) {
      // opacity: .5;
      &::before {
        content: 'X';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, .5);
        color: $c-red;
        font-size: 3rem;
        text-shadow: $s-grey-2;
        z-index: 10;
      }
    }
    .card-title {
      color: $c-miso-soup;
    }
    h4.card-score-desc {
      font-size: .5rem;
    }
  }
  &.sashimi {
    background-color: $c-green;
    .card-title {
      color: $c-green;
    }
  }
  &.tea {
    background-color: $c-tea;
    .card-title {
      color: $c-tea;
    }
  }
  &.ice-cream {
    background-color: $c-cyan;
    .card-title {
      color: $c-cyan;
    }
  }
  &.tea, &.wasabi {
    order: 100;
    &:not(:first-child) {
      margin-left: auto;
    }
  }
  &.wasabi + .tea {
    margin-left: .5rem;
  }
  &.not-revealed:first-child + .wasabi,
  &.not-revealed:first-child + .tea {
    margin-left: 0;
  }
  &:nth-child(2) {
    z-index: 9;
  }
  &:nth-child(3) {
    z-index: 8;
  }
  &:nth-child(4) {
    z-index: 7;
  }
  &:nth-child(5) {
    z-index: 6;
  }
  &:nth-child(6) {
    z-index: 5;
  }
  &:nth-child(7) {
    z-index: 4;
  }
  &:nth-child(8) {
    z-index: 3;
  }
  &:nth-child(8) {
    z-index: 2;
  }
  &:nth-child(10) {
    z-index: 1;
  }
}

.card-panels {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  transition: opacity .2s;
  @extend .font-alt;
  .local-user-cards {
    .panel-wrap {
      display: flex;
      justify-content: space-between;
      text-align: center;
      color: #fff;
      height: 13.125rem;
      box-shadow: $s-grey-4;;
      border-radius: 1.25rem 1.25rem 0 0;
      overflow: hidden;
      .card-sushi.not-revealed {
        display: flex;
        opacity: .5;
        transform: translateY(3rem)
      }
      .sushi-family {
        display: flex;
        margin-right: 1rem;
        .card-sushi + .card-sushi:not(.wasabi):not(.tea) {
          margin-left: -3.5rem;
        }
        .wasabi {
          margin-left: 1rem;
        }
        .tea {
          order: -1;
          margin-right: -3.5rem;
          margin-left: 0;
          + .tea {
            order: -2;
            z-index: 0;
          }
        }
        .maki {
          .card-maki-icons {
            position: absolute;
            top: 0;
            left: auto;
            right: .25rem;
            .maki-icon {
              width: 2rem;
            }
          }
          .card-image img {
            transform: translateY(.5rem)
          }
        }
        .card-info {
          height: 4rem;
          padding: .25rem .125rem 0;
        }
      }
      .panel-score {
        width: 5rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        .score {
          font-size: 2.5rem;
          text-shadow: $s-grey-2;
        }
        .host-badge {
          font-size: 2rem;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          box-shadow: $s-grey-4;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: .5rem;
          transform: rotate(-15deg);
        }
      }
      .panel-cards {
        position: relative;
        flex-grow: 2;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        h2 {
          width: 100%;
          font-size: 10rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -40%);
          opacity: .5;
        }
        .sushi-layout {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          padding-left: 1rem;
          @media only screen and (max-width: 1100px) {
          
            justify-content: flex-start;
          
          }
          .card-sushi {
            width: 7rem;
            height: 10rem;
          }
          .nigiri {
            .wasabi-applied::before,
            .wasabi-applied ~ .wasabi::before {
              content: 'Wasabi!';
              color: $c-green;
              padding-top: .25rem;
              border-radius: 10px;
              border-width: 4px;
            }
            .wasabi-applied ~ .wasabi::before {
              content: ' ';
            }
          }
          .miso-soup, .tea {
            .miso-cancelled {
              &::before {
                font-size: 8rem;
              }
            }
            .card-score-desc {
              font-size: .5rem;
            }
          }
        }
        .maki-count {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          box-shadow: $s-grey-2;
          position: absolute;
          z-index: 10;
          left: 3.5rem;
          top: 50%;
          transform: translate(-50%, -75%);
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          color: $c-red;
          span {
            margin-top: 0.625rem;
            margin-left: 0.125rem;
          }
        }
        // .not-revealed
      }
      .panel-dessert {
        padding: 0.5rem 1rem;
        width: 10rem;
        flex-shrink: 0;
        .dessert-cards {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          .card-sushi {
            width: 7rem;
            height: 10rem;
            transform: scale(.8) translateY(-1rem);
            flex-shrink: 0;
            & + .card-sushi {
              margin-left: -6rem;
            }
            &.not-revealed {
              transform: scale(.8) translateY(2rem)
            }
          }
        }
      }
    }
  }
  .user-cards {
    display: grid;
    flex-grow: 2;
    position: relative;
    column-gap: 1rem;
    row-gap: 1rem;
    &.opponent-amount-7 {
      grid-template-columns: repeat(7, 1fr);
    }
    &.opponent-amount-6 {
      grid-template-columns: repeat(6, 1fr);
    }
    &.opponent-amount-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    &.opponent-amount-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &.opponent-amount-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &.opponent-amount-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    .card-column {
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      box-shadow: $s-grey-4;
      overflow: hidden;
      width: 100%;
      color: #fff;
      // &:not(:last-child) {
      //   margin-right: 1rem;
      // }
      .panel-score {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .75rem .5rem .25rem;
        text-shadow: $s-grey-2;
        // position: relative;
        &::before {
          content: 'Ready!';
          position: absolute;
          // top: -.5rem;
          // right: -.5rem;
          transform: translateY(-1.5rem) scale(0);
          background-color: $c-pink;
          padding: .25rem .5rem 0;
          color: #fff;
          border-radius: 10px;
          box-shadow: $s-grey-2;
          text-shadow: none;
          font-size: .75rem;
          transition: transform .3s cubic-bezier(.33,.15,.4,1.45);
        }
        &.bg-pink::before {
          background-color: $c-purple;
        }
        &.ready::before {
          transform: translateY(-1.5rem) scale(1);
        }
        h2 {
          font-size: 1.25rem;
          margin-right: .5rem
        }
        .score {
          font-size: 1.5rem;
        }
      }
      .card-sushi {
        width: 2.75rem;
        height: 4rem;
        border-radius: 5px;
        justify-content: space-between;
        + .card-sushi:not(.wasabi):not(.tea),
        &.tea + .tea {
          margin-left: -1.375rem;
        }
        .card-img-wrap {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-grow: 2;
        }
        .card-points {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -40%);
          font-size: 1.75rem;
          width: 2rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.maki {
          .card-points {
            background-color: rgba(193, 40, 53, 0.5);
          }
        }
        &.nigiri {
          .card-points {
            background-color: rgba(235, 179, 68, 0.5);
          }
        }
        img {
          width: 90%;
        }
        &::after {
          content: ' ';
          // position: absolute;
          // bottom: 0;
          // left: 0;
          width: 100%;
          height: 1rem;
          background-color: $c-grey-cards;
        }
      }
      .panel-cards {
        padding: .5rem;
        flex-grow: 2;
        .sushi-family:not(:last-child) {
          margin-bottom: .5rem;
        }
        .maki-count {
          color: $c-red;
          @extend .font-alt;
          font-size: 1.75rem;
          margin-left: .5rem;
        }
      }
      .panel-dessert {
        padding: .5rem;
        height: 4rem;
        display: flex;
        .card-sushi {
          width: 2rem;
          height: 3rem;
          &::after {
            height: .75rem;
          }
          & + .card-sushi {
            margin-left: .5rem;
          }
        }
      }
      .sushi-family {
        display: flex;
        align-items: center;
        overflow-x: scroll;
      }
    }
  }
}

.hand {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 100%;
  transform: translate(-4rem, -50%);
  // max-width: 50%;
  min-height: 20rem;
  box-shadow: $s-grey-4;
  border-radius: 20px 0 0 20px;
  // overflow: hidden;
  transition: transform .2s;
  display: flex;
  &.open {
    transform: translate(-100%, -50%);
  }
  &.locked {
    transform: translate(0, -50%);
  }
  .hand-title {
    border-radius: 20px 0 0 20px;
    color: #fff;
    position: relative;
    width: 4rem;
    transition: opacity .2s;
    &:focus {
      outline: 3px solid #000;
      outline-offset: 2px;
    }
    &:hover {
      opacity: .7;
      cursor: pointer;
    }
    .hand-title-rotate {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 20rem;
      text-align: center;
      transform: translate(-48.5%, -50%) rotate(-90deg);
      h2 {
        text-shadow: $s-grey-2;
        display: inline-block;
      }
    }
    span {
      text-shadow: $s-grey-2;
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: transparent;
    }
  }
  .hand-cards {
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    grid-template-rows: repeat(2, 14rem);
    column-gap: 1rem;
    row-gap: 1rem;
    .card-sushi.wasabi + .tea {
      margin: 0;
    }
    .card-sushi {
      width: 10rem;
      height: 14rem;
      &:first-child {
        order: 1;
      }
      &:nth-child(2) {
        order: 2;
      }
      &:nth-child(3) {
        order: 3;
      }
      &:nth-child(4) {
        order: 4;
      }
      &:nth-child(5) {
        order: 5;
      }
      &:nth-child(6) {
        order: 6;
      }
      &:nth-child(7) {
        order: 7;
      }
      &:nth-child(8) {
        order: 8;
      }
      &:nth-child(9) {
        order: 9;
      }
      &:nth-child(10) {
        order: 10;
      }
      .card-info {
        .card-title {
          font-size: 1.25rem;
          margin-bottom: -.125rem;
        }
        .card-score-desc {
          font-size: 1rem;
        }
      }
      &.miso-soup, &.tea {
        .card-score-desc {
          font-size: .75rem;
        }
      }
      .card-confirm {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.btn-ready {
  opacity: .5;
  transform: scale(.75);
  position: relative;
  transition:
    opacity .3s,
    transform .3s cubic-bezier(.33,.15,.4,1.45);
  // &::before,
  &::after {
    content: 'X';
    color: #fff;
    text-shadow: $s-grey-2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%) scale(2.5);
    opacity: .75;
    transition:
      opacity .3s,
      transform .3s cubic-bezier(.33,.15,.4,1.45);
  }
  &.ready {
    opacity: 1;
    transform: scale(1);
    &::after {
      opacity: 0;
      transform: translate(-50%, -30%) scale(0);
    }
  }
}

@media only screen and (max-width: 75.999em) {

  .card-panels { 
    .user-cards {
      &.opponent-amount-7 {
        grid-template-columns: repeat(4, 1fr);
      }
      &.opponent-amount-6 {
        grid-template-columns: repeat(3, 1fr);
      }
      .card-column {
        .panel-cards {
          min-height: 10rem;
        }
      }
    }
  }

}

@media only screen and (max-width: 59.999em) {
  .card-panels { 
    .user-cards {
      &.opponent-amount-7 {
        grid-template-columns: repeat(2, 1fr);
      }
      &.opponent-amount-6 {
        grid-template-columns: repeat(3, 1fr);
      }
      &.opponent-amount-5 {
        grid-template-columns: repeat(5, 1fr);
      }
      &.opponent-amount-4 {
        grid-template-columns: repeat(2, 1fr);
      }
      &.opponent-amount-3 {
        grid-template-columns: repeat(3, 1fr);
      }
      &.opponent-amount-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      @media only screen and (min-width: 800px) {
      
        &.opponent-amount-7,
        &.opponent-amount-6 {
          .card-column {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            .panel-score {
              // width: 100%;
              flex-grow: 2;
              order: 0;
              &::before {
                transform: translateY(-2rem) scale(0);
              }
              &.ready::before {
                transform: translateY(-2rem) scale(1);
              }
            }
            .panel-cards {
              min-height: auto;
              display: flex;
              align-items: center;
              width: 100%;
              order: 2;
              .sushi-family:not(:last-child) {
                margin-bottom: 0;
                margin-right: .5rem;
              }
              .card-sushi.tea:not(:first-child), .card-sushi.wasabi:not(:first-child) {
                margin-left: .5rem;
              }
            }
            .panel-dessert {
              min-width: 4rem;
              min-height: 4rem;
              height: auto;
              justify-content: center;
              align-items: center;
              order: 1;
            }
          }
        }
      }
    }
  }
  .hand {
    .hand-cards {
      display: grid;
      grid-template-columns: repeat(3, 9rem);
      grid-template-rows: repeat(2, 11.25rem);
      column-gap: .5rem;
      row-gap: .5rem;
      .card-sushi {
        width: 9rem;
        height: 11.25rem;
        .card-image {
          img {
            width: 80%;
          }
        }
        .card-info {
          .card-title {
            font-size: 1.25rem;
            margin-bottom: -.125rem;
          }
          .card-score-desc {
            font-size: 1rem;
          }
        }
        &.miso-soup, &.tea {
          .card-score-desc {
            font-size: .75rem;
          }
        }
        .card-maki-icons {
          .maki-icon {
            width: 2.5rem;
          }
        }
      }
      &.hand-size-10 {
        padding-right: 4rem;
        grid-template-columns: repeat(4, 6rem);
        grid-template-rows: auto;
        .card-confirm {
          align-items: flex-end;
          padding-right: .5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 799px) {

  .card-panels { 
    .user-cards {
      &.opponent-amount-7,
      &.opponent-amount-6 {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

}

@media only screen and (max-width: 37.999em) {
  .card-panels {
    padding-top: 1rem;
  }
  .hand {
    z-index: 999;
    top: auto;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 6.3rem);
    padding-top: 3.5rem;
    max-width: calc(100vw - 2rem);
    max-height: 90vh;
    border-radius: 0 0 20px 20px;
    transition: transform .2s;
    display: flex;
    flex-direction: column-reverse;
    @media only screen and (min-width: 450px) {
      transform: translate(-50%, 6rem);
      padding-top: 3.5rem;
    }
    &.open {
      transform: translate(-50%, 100%);
      .hand-title {
        span {
          transform: translateY(-40%) rotate(0);
        }
      }
    }
    &.locked {
      transform: translate(-50%, 0);
    }
    .hand-title {
      border-radius: 0 0 20px 20px;
      color: #fff;
      position: relative;
      width: 100%;
      transition: opacity .2s;
      &:focus {
        outline: 3px solid #000;
        outline-offset: 2px;
      }
      &:hover {
        opacity: .7;
        cursor: pointer;
      }
      .hand-title-rotate {
        position: static;
        top: auto;
        left: auto;
        min-width: auto;
        text-align: center;
        transform: none;
        h2 {
          text-shadow: $s-grey-2;
          display: inline-block;
          padding-top: .25rem;
          margin-bottom: -.25rem;
          font-size: 2rem;
        }
      }
      span {
        text-shadow: $s-grey-2;
        position: absolute;
        top: 50%;
        left: auto;
        right: 1rem;
        transform: translateY(-50%) rotate(-90deg);
        font-size: 1.5rem;
      }
    }
    .hand-cards {
      grid-template-columns: repeat(3, 9rem);
      grid-template-rows: auto;
      column-gap: .5rem;
      row-gap: .5rem;
      overflow-y: scroll;
      margin-bottom: 1rem;
      .card-sushi {
        width: 9rem;
        height: 11.25rem;
        .card-image {
          img {
            width: 80%;
          }
        }
        .card-info {
          .card-title {
            font-size: 1.25rem;
            margin-bottom: -.125rem;
          }
          .card-score-desc {
            font-size: 1rem;
          }
        }
        &.miso-soup, &.tea {
          .card-score-desc {
            font-size: .75rem;
          }
        }
      }
      &.hand-size-10 {
        padding-right: 1rem;
        grid-template-columns: repeat(3, 9rem);
        grid-template-rows: auto;
        .card-confirm {
          align-items: center;
          padding-right: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 525px) {
  .card-panels { 
    .user-cards {
      grid-template-columns: repeat(1, 1fr);
      &.opponent-amount-7,
      &.opponent-amount-6,
      &.opponent-amount-5,
      &.opponent-amount-4,
      &.opponent-amount-3,
      &.opponent-amount-2,
      &.opponent-amount-1 {
        grid-template-columns: repeat(1, 1fr);
      }
      .card-column {
          flex-direction: row;
          flex-wrap: wrap;
          align-items: stretch;
          .panel-score {
            // width: 100%;
            flex-grow: 2;
            order: 0;
            &::before {
              transform: translateY(-2rem) scale(0);
            }
            &.ready::before {
              transform: translateY(-2rem) scale(1);
            }
          }
          .panel-cards {
            min-height: auto;
            display: flex;
            align-items: center;
            width: 100%;
            order: 2;
            .sushi-family:not(:last-child) {
              margin-bottom: 0;
              margin-right: .5rem;
            }
            .card-sushi.tea:not(:first-child), .card-sushi.wasabi:not(:first-child) {
              margin-left: .5rem;
            }
          }
          .panel-dessert {
            min-width: 4rem;
            min-height: 4rem;
            height: auto;
            justify-content: center;
            align-items: center;
            order: 1;
          }
        }
      }
  }
  .hand {
    .hand-cards {
      grid-template-columns: repeat(2, 9rem);
      &.hand-size-10 {
        grid-template-columns: repeat(2, 9rem);
      }
    }
  }
}
@media only screen and (max-width: 24.999em) {
  
}